PORT=
MONGODB_USER=borismeshkovaws
MONGODB_PASSWORD=12345678
MONGODB_URL=cluster0.xpxkilq.mongodb.net
MONGODB_DB=students

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=user
SMTP_PASSWORD=password
SMTP_FROM=your@gmail.com

JWT_SECRET=VOQjLdrpG1TWCHhDzv3o
APP_DOMAIN=http://localhost:3000/auth

CLOUD_NAME=
API_KEY=
API_SECRET=

# Features Flags
ENABLE_CLOUDINARY= true | false
# Experemental >>>
ENABLE_DELETE_FILES= true | false
